% in file names need to be automatically URL encoded

If I try to access a file with a percent in the filename, I need to manually url encode the % sign, otherwise I get a 500 response from the webhdfs API as %'s are reserved characters.  RFC 3986 Section 2.1 talks about percent encoding url characters. 

-=-=-=-=-=-=-
File name with %
  Note: the blank error string showing the exception is not being caught.   
-=-=-=-=-=-=-
INFO:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: Uploading /var/tmp/bigfile to /home/opsmekanix/bigfil%e.
INFO:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: Writing to /home/opsmekanix/bigfil%e.
DEBUG:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: Resolved path /home/opsmekanix/bigfil%e to /home/opsmekanix/bigfil%e.
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): mynamnodeserver01.example.com
DEBUG:requests.packages.urllib3.connectionpool:"PUT /webhdfs/v1/home/opsmekanix/bigfil%e?overwrite=False&op=CREATE HTTP/1.1" 401 0
DEBUG:requests_kerberos.kerberos_:handle_401(): Handling: 401
DEBUG:requests_kerberos.kerberos_:authenticate_user(): Authorization header: Negotiate YIICXwYJKoZIhvc ... ommited header here ... SQZ8qie6jMeIlxS7+ZaW186FDpdDrDYLa9BigK9qhT3qRXx7R0=
DEBUG:requests.packages.urllib3.connectionpool:"PUT /webhdfs/v1/home/opsmekanix/bigfil%e?overwrite=False&op=CREATE HTTP/1.1" 500 0
DEBUG:requests_kerberos.kerberos_:authenticate_user(): returning <Response [500]>
DEBUG:requests_kerberos.kerberos_:handle_401(): returning <Response [500]>
DEBUG:requests_kerberos.kerberos_:handle_response(): returning <Response [500]>
DEBUG:requests_kerberos.kerberos_:handle_other(): Handling: 500
DEBUG:requests_kerberos.kerberos_:handle_other(): Authenticating the server
DEBUG:requests_kerberos.kerberos_:authenticate_server(): Authenticate header: YGYGCSqGSIb3EgECAgIAb1cwVaADAgEFoQMCAQ+iSTBHoAMCAReiQAQ+G5 ... ommitted header here ... NH6V8mO0OGfmbAxIYfpyIXyaeG8Xikdo8SQbry27Fiui0=
DEBUG:requests_kerberos.kerberos_:authenticate_server(): returning <Response [500]>
DEBUG:requests_kerberos.kerberos_:handle_other(): returning <Response [500]>
DEBUG:requests_kerberos.kerberos_:handle_response(): returning <Response [500]>
WARNING:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: [500] /webhdfs/v1/home/opsmekanix/bigfil%e?overwrite=False&op=CREATE:

ERROR:


-=-=-=-=-=-=-
File name where percent is represnted as %26
    Note: I controll-c'd out of this request as I don't actually care about uploading the file
-=-=-=-=-=-=-
INFO:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: Uploading /var/tmp/bigfile to /home/opsmekanix/bigfil%26e.
INFO:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: Writing to /home/opsmekanix/bigfil%26e.
DEBUG:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: Resolved path /home/opsmekanix/bigfil%26e to /home/opsmekanix/bigfil%26e.
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): mynamnodeserver01.example.com
DEBUG:requests.packages.urllib3.connectionpool:"PUT /webhdfs/v1/home/opsmekanix/bigfil%26e?overwrite=False&op=CREATE HTTP/1.1" 401 0
DEBUG:requests_kerberos.kerberos_:handle_401(): Handling: 401
DEBUG:requests_kerberos.kerberos_:authenticate_user(): Authorization header: Negotiate YIICXwYJKoZIhvc ... ommited header here ... SQZ8qie6jMeIlxS7+ZaW186FDpdDrDYLa9BigK9qhT3qRXx7R0=
DEBUG:requests.packages.urllib3.connectionpool:"PUT /webhdfs/v1/home/opsmekanix/bigfil%26e?overwrite=False&op=CREATE HTTP/1.1" 307 0
DEBUG:requests_kerberos.kerberos_:authenticate_user(): returning <Response [307]>
DEBUG:requests_kerberos.kerberos_:handle_401(): returning <Response [307]>
DEBUG:requests_kerberos.kerberos_:handle_response(): returning <Response [307]>
DEBUG:requests_kerberos.kerberos_:handle_other(): Handling: 307
DEBUG:requests_kerberos.kerberos_:handle_other(): Authenticating the server
DEBUG:requests_kerberos.kerberos_:authenticate_server(): Authenticate header: YGYGCSqGSIb3EgECAgIAb1cwVaADAgEFoQMCAQ+iSTBHoAMCAReiQAQ+G5 ... ommitted header here ... NH6V8mO0OGfmbAxIYfpyIXyaeG8Xikdo8SQbry27Fiui0=
DEBUG:requests_kerberos.kerberos_:authenticate_server(): returning <Response [307]>
DEBUG:requests_kerberos.kerberos_:handle_other(): returning <Response [307]>
DEBUG:requests_kerberos.kerberos_:handle_response(): returning <Response [307]>
DEBUG:hdfs.client:<KerberosClient(url=http://mynamnodeserver01.example.com:50070, root=/home/opsmekanix)> :: [307] /webhdfs/v1/home/opsmekanixbigfil%26e?overwrite=False&op=CREATE
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): mydatanode123.example.com
^CTraceback (most recent call last):




Hello,

Thanks for making me aware of this, I'll push a fix hopefully by tomorrow evening.

From quickly looking into it:

+ The error message you see is empty because WebHDFS' response is empty. The API isn't very consistent here: some reserved characters it accepts unencoded (e.g. `&`, `=`), some trigger a useful error message (e.g. `:`), and sometimes it just stays silent (e.g. `%`). Thankfully, percent encoding the path will (almost! see below) fix all this.
+ `%` (which is actually ASCII character `0x25`) has the interesting property that it seems to cause failures even when encoded (with response error message `"Unknown exception in doAs"`) yet the action will go through (for example the file will be created if submitting the corresponding request).

It's still unclear to me why that is or how best to work around this last point. If you have an idea why that could be, please let me know.

Correct, I should have said 0x25 and not 0x26 which represents &.  Also the empty error string makes sense now.  The request will never reach the API due to jetty not being able to parse the malformed url.  For example this is what's returned when dumping headers with curl.

-=-=-=-
HTTP/1.1 400 Bad Request
Connection: close
Server: Jetty(6.1.26)

-=-=-=-
Sorry other then doing an inline regex for stand alone %'s, I don't have any clever suggestions on making this better.   Thanks for the quick turn around. 


Addressed in 25f2c7a (version `>= 0.3.2`). Note that you might still get occasional errors with filenames that have `%` characters (cf. above comment).